PORT=3003
HEADLESS=false
GENERATION_TIMEOUT=300000
MAX_CHAT_TABS=6
MAX_CONCURRENT_REQUESTS=3
MAX_PENDING_REQUESTS=100
MAX_PENDING_PER_TOKEN=20
MAX_PENDING_PER_CONVERSATION=10
MAX_STORED_CONVERSATIONS=1000
MAX_CONVERSATIONS_PER_TOKEN=100
TAB_IDLE_TIMEOUT_MS=600000
MAX_BODY_BYTES=1048576
MAX_MESSAGE_CHARS=64000
REQUESTS_PER_MINUTE_PER_TOKEN=60
REQUESTS_PER_MINUTE_GLOBAL=300
IDEMPOTENCY_HISTORY_SIZE=100
